<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="app" ng-controller="ctrl">
<h1 class="mb-4 text-center fw-bold text-danger mt-5">Danh Sách Hóa Đơn</h1>
<div class="container mb-4">
    <div class="card">
        <table class="table text-center">
            <thead>
            <tr>
                <th>STT</th>
                <th>Mã Hóa Đơn</th>
                <th>Tên sản phẩm</th>
                <th>Hình</th>
                <th>Giá</th>
                <th>Số lượng còn lại</th>
                <th>Trạng thái</th>
                <th>Loại sản phẩm</th>
                <th>Ngày tạo</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product, state : ${listProduct}">
                <td th:text="${state.index + 1}"></td>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td><img th:src="${product.image}" width="100px" height="100px"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.available}"></td>
                <td th:text="${product.category.name}"></td>
                <td th:text="${#dates.format(product.createdAt, 'dd/MM/yyyy')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>