<div class="container mb-4" th:if="${not #lists.isEmpty(orders)}">
	<h3 class="fs-3 text-center text-danger fw-bold my-4">Lịch sử đơn
		hàng</h3>
	<div class="card">
		<table class="table text-center">
			<thead>
				<tr>
					<th>STT</th>
					<th>Mã Hóa Đơn</th>
					<th>Ngày Mua</th>
					<th>Trạng Thái</th>
					<th>Phương Thức Thanh Toán</th>
					<th>Địa Chỉ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order, state : ${orders}">
					<td th:text="${state.index + 1}"></td>
					<td th:text="${order.id}"></td>
					<td th:text="${#dates.format(order.createdAt, 'dd/MM/yyyy')}"></td>
					<td th:text="${order.orderStatus}"></td>
					<td th:text="${order.paymentMethod}"></td>
					<td th:text="${order.address}"></td>
					<td><a th:href="@{'/order/'+ ${order.id}}"
						class="btn btn-outline-danger"> <i class="bi bi-search"></i>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div th:if="${#lists.isEmpty(orders)}">
	<h2 class="text-center text-danger fw-bold my-4">Không có đơn hàng
		nào.</h2>
</div>
