<header class="py-0 py-lg-3">
    <div class="container">
        <div class="row">
            <div class="d-flex align-items-center justify-content-between py-2">
                <div class="col-sm-2 col-lg-2 p-0">
                    <a href="/" class="d-flex align-items-center overflow-hidden">
                        <img src="./images/logo.png" width="180px" height="85px" alt=""/>
                    </a>
                </div>
                <div class="col-sm-8 co-lg-8 p-0">
                    <div class="d-lg-flex align-items-center justify-content-center d-sm-block d-none">
                        <div>
                            <input class="rounded-start lh-lg border-white p-2" type="search"
                                   placeholder="Tìm kiếm..." style="outline: none; width: 450px; height: 40px"/>
                        </div>
                        <a href="#" class="btn_Search text-white d-flex align-items-center rounded-end">
                            <i class=" bi bi-search m-4"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2 co-lg-2 p-0 d-flex gap-4 justify-content-end">
                    <div class="dropdown d-sm-block d-none">
                        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-center"
                           data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle text-white fs-2 header_icon"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login">Đăng Nhập</a></li>
                            <li><a class="dropdown-item" href="/signup">Đăng Ký</a></li>
                        </ul>
                    </div>
                    <a href="#"
                       class="d-flex align-items-center text-decoration-none dropdown-center position-relative me-lg-0 me-3">
                        <i class="bi bi-cart-fill text-white fs-2 header_icon fs"></i>
                        <span class="position-absolute start-100 translate-middle badge rounded-pill cart_info"
                              style="top: 8px;">2</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>