<!-- carousel -->
<div class="banner_home">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="position-relative">
                    <div class="text_box position-absolute">
                        <h4 class="fs-4 fw-bold text-white m-0">LADV SNEAKER</h4>
                        <h1 class="text-white fw-bold lh-sm py-2"
                            style="font-size: 3.5em;">Giày ADIDAS</h1>
                        <p class="text-white lh-sm mb-4 d-none d-sm-block">Cùng với sự
                            phát triển không ngừng của thời trang thế giới, rất nhiều thương
                            hiệu cho ra đời những mẫu giày nam chính hãng đa dạng về phong
                            cách, kiểu dáng, màu sắc, kích cỡ…</p>
                        <a
                                class="text-white border rounded-1 text-decoration-none fw-bold"
                                href="">XEM SẢN PHẨM</a>
                    </div>
                    <img class="object-fit-cover" src="./images/slide-2.jpg"
                         width="100%" height="100%" alt="">
                </div>
            </div>
            <div class="carousel-item active">
                <div class="position-relative">
                    <div class="text_box position-absolute">
                        <h4 class="fs-4 fw-bold text-white m-0">LADV SNEAKER</h4>
                        <h1 class="text-white fw-bold lh-sm py-2"
                            style="font-size: 3.5em;">Giày Converse</h1>
                        <p class="text-white lh-sm mb-4 d-none d-sm-block">Chào mừng
                            bạn đến với ngôi nhà Converse! Tại đây, mỗi một dòng chữ, mỗi chi
                            tiết và hình ảnh đều là những bằng chứng mang dấu ấn lịch sử
                            Converse 100 năm, và đang không ngừng phát triển lớn mạnh.</p>
                        <a
                                class="text-white border rounded-1 text-decoration-none fw-bold"
                                href="">XEM SẢN PHẨM</a>
                    </div>
                    <img class="object-fit-cover" src="./images/slide-1.jpg"
                         width="100%" height="100%" alt="">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span> <span
                class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- banner -->
<div class="container mt-4">
    <div class="d-lg-flex banner_row">
        <div class="banner_content overflow-hidden mx-lg-4">
            <a href="/category">
                <div class="position-relative">
                    <div class="position-absolute text-white banner_text z-1 end-50">
                        <h3 class="fs-4">Xu hướng 2024</h3>
                        <h2 class="fw-bold fs-1 lh-base">GIÀY NAM</h2>
                    </div>
                </div>
                <img src="./images/slide-3.jpg" class="object-fit-cover"
                     width="600px" height="300px" alt="">
            </a>
        </div>
        <div class="banner_content overflow-hidden mx-lg-4">
            <a href="#">
                <div class="position-relative">
                    <div class="position-absolute text-white banner_text z-1 ">
                        <h3 class="fs-4">Xu hướng 2024</h3>
                        <h2 class="fw-bold fs-1 lh-base">GIÀY NỮ</h2>
                    </div>
                </div>
                <img src="./images/slide-4.jpg" class="object-fit-cover"
                     width="600px" height="300px" alt="">
            </a>
        </div>
    </div>
</div>

<!-- tiêu đề -->
<div class="container mt-4">
    <div
            class="border-2 border-bottom border-dark pb-2 fs-5 fw-bold d-flex justify-content-center">SẢN
        PHẨM MỚI
    </div>
</div>

<!-- Sản phẩm -->
<div class="container mt-4">
    <div class="row">
        <div th:each="p:${items}" class="col-lg-3 col-md-4 col-6 mb-4">
            <div class="border rounded">
                <div class="p-2">
                    <a th:href="@{|/${p.id}|}"><img
                            th:src="@{|/images/${p.image}|}" width="100%" height="100%" alt=""></a>
                </div>
                <div
                        class="text-truncate border-top flex-column text-center pt-3 pb-5 ">
                    <a class="text-black text-decoration-none fw-bold px-2"
                       th:href="@{|/${p.id}|}" th:utext="${p.name}"></a>
                    <div class="lh-lg pb-3 text-danger">
						<span class="fw-bold"
                              th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')}"></span><b>₫</b>
                    </div>
                    <a class="text-decoration-none p-2 btn btn-outline-danger"
                       th:attr="ng-click='addItem(\''+${p.id}+'\');'"
                    >Thêm vào giỏ</a>
                </div>
            </div>
        </div>
    </div>
</div>
