<h3 class="fs-3 text-center text-danger fw-bold my-4">Giỏ hàng</h3>
<div class="row mb-4">
	<div class="form-group col-lg-9 col-12 pe-3 border-end">
		<table class="table m-0">
			<thead class="text-center align-middle fw-bold">
				<tr class="m-0">
					<td class="p-0"></td>
					<td class="p-0"></td>
					<td class="p-0"></td>
					<td class="p-0"></td>
				</tr>
				<tr>
					<th class="w-50">Sản Phẩm</th>
					<th>Số Lượng</th>
					<th>Giá</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="text-center align-middle fw-bold">
				<tr>
					<td>
						<div class="d-flex align-items-center justify-content-center">
							<p class="mx-2">Air Jordan 1 Retro High Og ‘Shadow 2.0’</p>
							<a href="./images/sp1.webp" class="me-3"> <img
								src="./images/sp1.webp" alt="" class="object-fit-cover"
								style="max-width: 200px;">
							</a>
						</div>
					</td>
					<td>
						<div>
							<input value="1" class="form-control text-center" type="number">
						</div>
					</td>
					<td><span>1,289,000₫</span></td>
					<td><a
						class="text-decoration-none text-dark d-flex gap-1 justify-content-center remove"
						href=""> <i class="bi bi-trash3"></i> <span>Xóa</span>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-3 col-12">
		<div class="border-top border-bottom p-4">
			<div class="flex-column ">
				<div class="d-flex justify-content-between border-bottom pb-2">
					<h5 class="fs-6 fw-bold text-danger">Tổng giá:</h5>
					<h5 class="fs-6 fw-bold text-danger">1,289,000₫</h5>
				</div>
				<div class="d-flex justify-content-between border-bottom pt-3 pb-2">
					<h5 class="fs-6 fw-bold text-danger">Tổng số lượng:</h5>
					<h5 class="fs-6 fw-bold text-danger">1</h5>
				</div>
			</div>
			<div class="pt-3 text-center">
				<button type="submit" class="py-2 px-4 rounded btn btn-outline-danger">Thanh
					Toán</button>
			</div>
		</div>
	</div>
</div>