<div
        style="background-image: url(./images/1000.jpg); height: 710px; background-repeat: no-repeat;background-size: 145%;">
    <div class="d-flex p-5 w-50 justify-content-end">
        <div class="border rounded shadow" style="width: 400px">
            <div class="d-flex align-items-center justify-content-center text-secondary" style="height: 80px;">
                <h5>Đăng Nhập</h5>
            </div>
            <div class="pt-0 pb-3 px-3">
                <form action="/auth/login" method="post">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" />
                    </div>
                    <div class="input-group mt-3 position-relative">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="text" class="form-control" name="password" placeholder="Mật khẩu" />
                    </div>
                    <div class="form-group my-3">
                        <button type="submit" class="form-control btn btn-outline-light">Đăng
                            Nhập</button>
                    </div>
                    <div class="mb-3 d-flex justify-content-between">
                        <div class="">
                            <label class="checkbox-wrap text-light"> <input type="checkbox" checked> Nhớ Mật Khẩu
                            </label>
                        </div>
                        <div class="">
                            <a class="text-decoration-none text-light" href="">Quên Mật
                                Khẩu?</a>
                        </div>
                    </div>
                </form>
                <p class="w-100 text-center text-secondary mb-3">-- Hoặc Đăng
                    Nhập Với --</p>
                <div class="w-100 d-flex text-center">
                    <a class="w-50 d-flex text-decoration-none py-2 btn btn-outline-primary justify-content-center me-2 "
                       href=""> <i class="bi bi-facebook me-1"></i>
                        <p class="text-white m-0">Facebook</p>
                    </a> <a
                        class="w-50 d-flex text-decoration-none py-2 btn btn-outline-warning justify-content-center"
                        href=""> <i class="bi bi-google text-warning me-1"></i>
                    <p class="text-white m-0">Google</p>
                </a>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center" style="height: 80px;">
                <div class="d-flex text-center">
                    <p class="text-secondary me-2">Bạn mới biết đến HXLuong
                        Sneaker?</p>
                    <a class="text-decoration-none text-light" href="">Đăng
                        Ký</a>
                </div>
            </div>
        </div>
    </div>
</div>